deploy-student-version:
  image: thespanglab/urnc:v1.3.3
  stage: deploy
  only: [tags]
  except: [branches]
  script: [urnc ci]

deploy-website:
  image: thespanglab/urnc:v1.3.3
  stage: deploy
  only: [tags]
  except: [branches]
  script: [python scripts/make_website_files.py, mv website public]
  artifacts: {paths: [public]}

deploy-docker-image:
  stage: deploy
  image: {name: gcr.io/kaniko-project/executor:v1.15.0-debug, entrypoint: [""]}
  script:
    # Build the container with kaniko to make sure this pipeline also works inside containers
    - export CI_REGISTRY=https://index.docker.io/v1/
    - export CI_REGISTRY_USER=thespanglab
    - export CI_REGISTRY_IMAGE="$CI_REGISTRY_USER/urnc-example-course"
    - export CI_REGISTRY_PASSWORD=$DOCKER_HUB_TOKEN
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/container"
      --dockerfile "${CI_PROJECT_DIR}/container/Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
      --destination "${CI_REGISTRY_IMAGE}:latest"
  rules:
    - if: $CI_COMMIT_TAG
