name: Deploy Docker Image
on: {push: {tags: ['*']}}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and push Docker image
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: docker buildx build --platform linux/amd64,linux/arm64 -t thespanglab/urnc-example-course:${{ github.ref }} -t thespanglab/urnc-example-course:latest --push container
